    <div class="table-responsive-sm animate__animated animate__fadeIn">

        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Condiciones</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i = index">
                    <td> {{ i + 1 }} </td>
                    <td class="text-center"> <img [src]="item.imgUrl" [alt]="item.name" height="50px" width="50px"> </td>
                    <td> {{ item.name }} </td>
                    <td> {{ item.level }} </td>
                    <td [class]=" item.conditions ? 'text-danger' : ''"> {{ item.conditions ? item.conditions : 'Sin condiciones' }} </td>
                    <td class="text-center"> 
                        <button class="button__custom" (click)="pressButton( item._id )" 
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Características 
                        </button>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
    
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Estadísticas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive-sm">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th class="fs-5">Característica</th>
                            <th class="fs-5">Mínimo</th>
                            <th class="fs-5">Máximo</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let stat of itemSelected?.statistics" >
                        <tr *ngFor="let val of stat | keyvalue "> {{ val.key }}
                            <td> {{ val.value['min']}} </td>
                            <td> {{ val.value['max']}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    
    
    