<div class="wrapper max-vh-100">
    <!-- Sidebar -->
    <nav id="sidebar" #refSidebar>
        <div class="text-center mt-3">
            <!-- <h2>Menú</h2> -->
            <a class="menu__title" routerLink="/"><h2>Menú</h2></a>
            <hr>
        </div>
        <!-- <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div> -->
        <app-sidebar></app-sidebar>
        
    </nav>
    <div class="col" id="navigation__bars">
        <!-- max-vh-100" -->
            <button type="button" class="boton" (click)="showSidebar()">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="d-flex">

        </div>
        <div class="components mt-3 justify-content-between ">
            <router-outlet></router-outlet>
        </div>
        <div class="d-flex"></div>
</div>
