<div class="container mt-2">
    <h2> Clases </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let class of classes">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="class.maleImg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              
        </div>
    </div>


</div>


