<div class="container mt-2">
    <h2 class="mb-4"> Clases </h2>
    <div class="row text-center">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let class of classes; let i = index">
          <div class="card mb-3" (click)="goToClass(class._id)">
            <img [src]=" i%2=== 0 ?  class.maleImg : class.femaleImg" class="card-img-top" height="240px" width="100px"  alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">{{ class.name }}</h5>
                </div>
              </div>
              
        </div>
    </div>


</div>


