.background {
    background-image: linear-gradient(275deg, #b79357 0, #af9656 3.57%, #a79956 7.14%, #9e9c58 10.71%, #949e5b 14.29%, #8ba15f 17.86%, #81a364 21.43%, #76a46a 25%, #6ba672 28.57%, #60a779 32.14%, #54a882 35.71%, #47a98b 39.29%, #39aa94 42.86%, #28aa9d 46.43%, #12aaa6 50%, #00aaaf 53.57%, #00a9b7 57.14%, #00a8bf 60.71%, #00a7c6 64.29%, #01a6cc 67.86%, #23a4d1 71.43%, #39a2d5 75%, #4ca0d8 78.57%, #5d9ed9 82.14%, #6d9bda 85.71%, #7c98d9 89.29%, #8a95d6 92.86%, #9791d3 96.43%, #a38ece 100%);
    height: 100vh;
}

.titulo {
    font-size: 50px;
}

.boton {
    background-color: #f58032; /* Green */
    border-radius: 40px;
    color: white;
    padding: 16px 40px 16px 40px;
    border: 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.boton:hover {
    background-color: #ffffff;
    color: #f58032;
}