<div class="background">


    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1 class="titulo text-white text-center animate__animated animate__rubberBand" >La Enciclopedia del Dofus</h1>
        <br>
        <h5 class="text-white text-center">Aquí podrás encontrar toda la información del mejor MMORPG</h5>
        <button class="boton mt-4 fs-4"
                (click)="loadMainPage()">
            Ver Información
        </button>


        
    </div>


</div>